@import 'functions';

.dropdown {
  position: relative;

  button {
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: inherit;
    outline: none;
  }
}

.dropdown__icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.dropdown__arrow {
  &:before {
    content: '\25be';
  }
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: getFontSize(-1);
  margin: auto;
  background-color: #2b3a42;
  z-index: 1;

  ul {
    padding-top: 0.25em;

    li {
      list-style: none;
      transition: all 250ms;

      &:hover {
        background: getColor(denim);
      }

      a {
        display: block;
        padding: 0.25em 0.5em;
        cursor: pointer;
      }

      a,
      a:visited,
      a:hover {
        color: #fff;
      }

      span {
        vertical-align: top;
        text-align: left;
        white-space: nowrap;
      }

      &.dropdown__item--active {
        a {
          color: getColor(malibu);
        }
      }
    }
  }
}

.dropdown__list--active {
  display: block;
}
