@import 'functions';
@import 'mixins';

.splash-viz {
  position:relative;
  display:flex;
  height:calc(100vh - 55px);
  min-height:320px;
  max-height:720px;
  background:getColor(elephant);

  &__modules,
  &__output {
    flex:0 0 45%;
  }

  &__modules {
    display:none;

    @include break {
      display:flex;
      align-items:center;
      justify-content: flex-end;

      img {
        margin-right:10%;
        width:40%;
        max-width:400px;
      }
    }
  }

  &__icon {
    display:flex;
    flex:1 1 auto;
    align-items:center;
    justify-content: center;

    img {
      width:45%; 

      @include break {
        width:100%;
      }
    }
  }

  &__output {
    display:none;

    @include break {
      display:flex;
      align-items:center;
    }
  }

  &__files {
    width:40%;
    max-width:400px;
    margin-left:10%;
  }
}
