@import 'vars';
@import 'mixins';

.sidebar {
  display: none;
  width: 100%;
  max-height: 100%;
  overflow: auto;

  @include break {
    display:block;
  }
}

.sidebar__inner {
  padding: 1.5em;
  overflow: hidden;
}
