@import 'functions';
@import 'mixins';

.sidebar-mobile {
  position: fixed;
  width: 295px;
  height: 100vh;
  z-index: 100;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translate3D(-100%, 0, 0);
  transform: translate3D(calc(-100% + 5px), 0, 0);
  transition: all 500ms;

  @include break {
    display: none;
  }
  
  &--visible {
    transform: translate3D(0, 0, 0);
  }

  &.no-delay{
    transition-duration: 0ms;
  }
}

.sidebar-mobile___toggle {
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 32px;
  left: 285px;
}

.sidebar-mobile__content {
  position: relative;
  width: 285px;
  height: 100vh;
  overflow-x: hidden;
  background: map-get($colors, white);
  box-shadow: 0 0 5px map-get($colors, emperor);
}

.sidebar-mobile__close {
  position:absolute;
  right:16px;
  top:19px;
  font-size:1.5em;
  cursor:pointer;
  color:getColor(dusty-grey);
  transition:color 250ms;

  &:hover {
    color:getColor(mine-shaft);
  }
}

.sidebar-mobile__section {
  font-size: getFontSize(1);
  text-transform: uppercase;
  color: getColor(mine-shaft);
  margin: 1em 16px 0.25em;
}

.sidebar-mobile__page {
  display: block;
  padding: 0.5em 17px;
  text-transform: capitalize;
  color: getColor(dusty-grey);
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:active,
  &--active {
    color: getColor(mine-shaft);
    background: getColor(alto);
  }
}
