version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "react"
      - dependency-name: "react-dom"
      - dependency-name: "@docsearch/react" # unfortunately I don't have the app id
      - dependency-name: "@mdx-js/loader" # we can't update this due to incompatibility with our code base
    groups:
      dependencies:
        patterns:
          - "*"