defaults
# and_chr 86
# and_ff 82
# and_qq 10.4
# and_uc 12.12
# android 81
# baidu 7.12
# chrome 86
# chrome 85
# chrome 84
# edge 86
# edge 85
# firefox 82
# firefox 81
# firefox 78
# ie 11
# ios_saf 14
# ios_saf 13.4-13.7
# ios_saf 13.3
# ios_saf 12.2-12.4
# kaios 2.5
# op_mini all
# op_mob 59
# opera 72
# opera 71
# safari 14
# safari 13.1
# samsung 12.0
# samsung 11.1-11.2
