# Top-most EditorConfig file
root = true

# Set default charset
[*.{js}]
charset = utf-8

[*]
trim_trailing_whitespace = true
insert_final_newline = true

# 4 space indentation
[*.{md,js,jsx,scss,hbs}]
indent_style = space
indent_size = 2

# Format Config
[{package.json,.alexrc,babelrc,.eslintignore,.eslintrc,.markdownlint.json,.proselintrc}]
indent_style = space
indent_size = 2
