# Top-most EditorConfig file
root = true

# AutoFormat All Files
[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Format All Source Files
[*.{md,js,jsx,json,scss,hbs,*rc}]
charset = utf-8
indent_style = space
indent_size = 2

# Format Any Missing Config Files
[.eslintignore]
indent_style = space
indent_size = 2
