node_modules
dist
**/feed.xml
!examples/**/dist
src/**/_*.json
src/**/_*.mdx
src/content/contribute/Governance-*.mdx
.vscode
.idea
.DS_Store
npm-debug.log
.cache
internal-links.tap
stats.json
printable.mdx
repositories/*.json
