.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle; }
  .logo__icon {
    width: auto;
    height: 35px;
    opacity: 0.9;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms; }
  .logo__text {
    font-family: 'Geomanist', 'Century Gothic', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    text-rendering: geometricPrecision;
    letter-spacing: 0.5px;
    margin-left: 0.25em;
    margin-top: 3px;
    color: #535353;
    -webkit-transition: color 250ms;
    transition: color 250ms; }
  .logo:hover .logo__icon {
    opacity: 1; }
  .logo:hover .logo__text {
    color: #333333; }
  .logo--light .logo__text {
    color: #f2f2f2; }
  .logo--light:hover .logo__text {
    color: #ffffff; }
.navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  background: #333333; }

.navigation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em; }
  @media (min-width: 768px) {
    .navigation__inner {
      padding: 0 0 0 1.5em; } }

.navigation__mobile {
  position: absolute;
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -0.5em;
  color: #ffffff;
  -webkit-transition: color 250ms;
  transition: color 250ms; }
  .navigation__mobile:active {
    color: #dedede; }
  @media (min-width: 768px) {
    .navigation__mobile {
      display: none; } }

.navigation__links {
  display: none; }
  @media (min-width: 768px) {
    .navigation__links {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

.navigation__link {
  font-size: 13px;
  padding: 1.5em;
  text-transform: uppercase;
  color: #999999;
  -webkit-transition: all 250ms;
  transition: all 250ms; }
  .navigation__link:hover, .navigation__link--active {
    color: #ffffff; }
  .navigation__link--active {
    background: #535353; }
.sidecar {
  display: none; }
  @media (min-width: 1024px) {
    .sidecar {
      display: block;
      position: fixed;
      top: 75px;
      right: 0;
      z-index: 100; } }

.sidecar__link {
  display: inline-block;
  padding: 0.75em;
  float: right;
  clear: both;
  color: #dedede;
  -webkit-transition: all 250ms;
  transition: all 250ms; }
  .sidecar__link:hover {
    color: #ffffff; }

.sidecar__label {
  display: block;
  float: left;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: width 250ms;
  transition: width 250ms; }

.sidecar__icon {
  display: inline-block;
  width: 16px; }

.sidecar__link--github {
  background: #444; }
  .sidecar__link--github:hover {
    background: #333; }
    .sidecar__link--github:hover .sidecar__label {
      width: 115px; }

.sidecar__link--gitter {
  background: #da2c6a; }
  .sidecar__link--gitter:hover {
    background: #ed1965; }
    .sidecar__link--gitter:hover .sidecar__label {
      width: 85px; }

.sidecar__link--medium {
  background: #289b6b; }
  .sidecar__link--medium:hover {
    background: #19aa6e; }
    .sidecar__link--medium:hover .sidecar__label {
      width: 115px; }

.sidecar__link--so {
  background: #e38235; }
  .sidecar__link--so:hover {
    background: #f48024; }
    .sidecar__link--so:hover .sidecar__label {
      width: 125px; }
.footer {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #dedede; }

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.4em 0; }
  @media (min-width: 768px) {
    .footer__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: initial;
              flex-direction: initial; } }

.footer__left,
.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 0; }
  @media (min-width: 768px) {
    .footer__left,
    .footer__right {
      margin: 0;
      padding: 0; } }

@media (min-width: 768px) {
  .footer__left {
    padding-left: 1.5em; } }

@media (min-width: 768px) {
  .footer__right {
    padding-right: 1.5em; } }

.footer__middle {
  display: none; }
  @media (min-width: 768px) {
    .footer__middle {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      display: block; } }

.footer__icon {
  display: block;
  height: 35px; }
  .footer__icon img {
    height: 100%;
    width: auto; }

.footer__link {
  font-size: 11px;
  text-transform: uppercase;
  color: #999999; }
  .footer__link:not(:last-child) {
    margin-right: 1.5em; }
  .footer__link:hover {
    color: #333333; }
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden; }
  .site.nav-displayed {
    height: 100vh; }
.cube {
  position: relative;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
          transform: rotateX(-33.5deg) rotateY(45deg); }
  .cube__inner, .cube__outer {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 750ms;
    transition: -webkit-transform 750ms;
    transition: transform 750ms;
    transition: transform 750ms, -webkit-transform 750ms; }
  .cube__inner {
    position: absolute;
    top: 0;
    left: 0; }
  .cube__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: -webkit-radial-gradient(transparent 30%, rgba(5, 17, 53, 0.2) 100%);
    background: radial-gradient(transparent 30%, rgba(5, 17, 53, 0.2) 100%); }
    .cube__face:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: background 750ms;
      transition: background 750ms; }
  .cube--dark .cube__outer .cube__face:after {
    background: rgba(126, 169, 232, 0.5); }
  .cube--dark .cube__inner .cube__face:after {
    background: rgba(16, 58, 177, 0.4); }
  .cube--dark:hover .cube__outer .cube__face:after {
    background: rgba(51, 51, 51, 0.2); }
  .cube--dark:hover .cube__inner .cube__face:after {
    background: rgba(243, 156, 18, 0.6); }
  .cube--light .cube__outer .cube__face:after {
    background: rgba(141, 214, 249, 0.4); }
  .cube--light .cube__inner .cube__face:after {
    background: rgba(29, 120, 193, 0.8); }
  .cube--light:hover .cube__outer .cube__face:after {
    background: rgba(141, 214, 249, 0.3); }
  .cube--light:hover .cube__inner .cube__face:after {
    background: #1D78C1; }
.splash__viz {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 900px; }

.splash__modules, .splash__output {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.25%;
          flex: 0 0 43.25%; }

.splash__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.splash__cube {
  margin-right: -1.75em; }

.splash__headline {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 10%;
  left: 0;
  text-align: center;
  font-size: ms(1);
  font-style: italic;
  color: #666666; }

.splash__sponsorheadline {
  font-style: italic; }

.splash__sponsor {
  padding-top: 1.5em;
  text-align: center; }

.splash__section {
  background: #ffffff; }

.splash__content {
  padding: 1.5em; }
.sidebar-item {
  font-size: 13px;
  margin-bottom: 0.75em; }
  .sidebar-item__title {
    font-weight: 400;
    text-decoration: none;
    color: inherit; }
    .sidebar-item__title:hover {
      color: #c0903f; }
  .sidebar-item__toggle {
    float: right;
    line-height: 1.5;
    cursor: pointer;
    color: #999999;
    -webkit-transition: color 250ms;
    transition: color 250ms; }
    .sidebar-item__toggle:hover {
      color: #333333; }
  .sidebar-item__anchors {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0.5em 0 1em; }
  .sidebar-item__anchor {
    margin: 0.25em 0; }
    .sidebar-item__anchor a {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #999999; }
      .sidebar-item__anchor a:hover {
        color: #333333; }
  .sidebar-item--empty .sidebar-item__toggle {
    display: none; }
  .sidebar-item--open .sidebar-item__anchors {
    display: block; }
  .sidebar-item--open .sidebar-item__toggle {
    margin-left: -2px;
    -webkit-transform: rotate(180deg) translateX(1px);
            transform: rotate(180deg) translateX(1px); }
.sidebar {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100%; }
  @media (max-width: 768px) {
    .sidebar--visible .sidebar__inner {
      -webkit-transform: translateX(0) !important;
              transform: translateX(0) !important;
      width: 100% !important; }
    .sidebar--visible .sidebar-item__title,
    .sidebar--visible .sidebar-item__toggle {
      color: #ffffff !important; }
    .sidebar--visible .sidebar-item__anchor a {
      color: #dedede !important; } }

.sidebar__inner {
  position: fixed;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 1.5em 1em;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  background: #535353;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  @media (max-width: 768px) {
    .sidebar__inner {
      will-change: transform;
      -webkit-transform: translate3D(-100%, 0, 0) !important;
              transform: translate3D(-100%, 0, 0) !important; } }
  @media (min-width: 768px) {
    .sidebar__inner {
      position: static;
      -webkit-transform: none;
              transform: none;
      height: auto;
      padding: 1.5em;
      background: transparent;
      color: #535353; } }
.contributor {
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em; }
  .contributor img {
    height: 50px; }
.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page div:first-of-type {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: auto; }
  @media (min-width: 768px) {
    .page div:first-of-type {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      overflow: hidden; } }

.page__content {
  overflow-x: hidden;
  width: 100%;
  padding: 1.5em 1em; }
  @media break {
    .page__content {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3;
      padding: 1.5em; } }

.page__edit {
  display: none; }
  @media (min-width: 768px) {
    .page__edit {
      position: absolute;
      display: block;
      top: 1.4em;
      right: 1.75em;
      font-size: 13px;
      text-transform: uppercase;
      color: #1D78C1; } }
  .page__edit:hover {
    color: #8DD6F9; }
