<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= webpackConfig.template.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <% for (var file in webpackConfig.template.cssFiles) { %>
      <link href="<%= webpackConfig.template.cssFiles[file] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <%- webpackConfig.html %>

    <% for (var script of webpackConfig.template.jsFiles) { %>
      <script src="<%= script %>" type="text/javascript"></script>
    <% } %>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'webpack/webpack',
        activationElement: false
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  </body>
</html>
