<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.context.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.context.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2B3A42">
  </head>
  <body>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'webpack/webpack',
        activationElement: false
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  </body>
</html>
