// Styling for the Donate component (temporary)

.donate {
    display:flex;
    justify-content:center;
    align-items:center;
    height:92vh;

    span { text-transform:uppercase; color: #999; }
}