@import 'vars';
@import 'mixins';

.vote-app {
  &__self-info {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  &__update-button {
    float: right;
  }

  h1 {
    font-size: 20pt;
    font-weight: bold;
  }

  &__item-title {
    font-size: 16pt;
    font-weight: bold;
    margin-right: 10px;
  }

  &__currency-list {
    display: block;

    & > li {
      display: inline-block;
      padding: 5px;
    }
  }

  &__vote-list {
    display: flex;

    & > li {
      display: block;
      padding: 5px;
      flex: 2;
      text-align: center;
    }

    & > .vote-app__vote-score {
      flex: 1;
      width: auto;
    }
  }


  &__items-list {
    display: block;

    & > li {
      display: block;
      padding: 5px;
      border: 1px solid black;
      border-top: inherit;

      &:first-child {
        border-top: 1px solid black;
      }
    }
  }

  &__vote-buttons {
    display: flex;
  }

  &__vote-positive {
    text-align: left;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    > * {
      height: 20px;
    }
  }

  &__vote-negative {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
    > * {
      height: 20px;
    }
  }

  &__currency-influence, &__vote-influence &__vote-value {
    color: blue;
    &:before {
      content: "♦\2009";
    }
  }

  &__currency-goldenInfluence, &__vote-golden &__vote-value {
    color: #bfa203;
    &:before {
      content: "♦\2009";
    }
  }

  &__currency-support, &__vote-support &__vote-value {
    color: green;
    &:before {
      content: "$\2009";
    }
  }

  &__vote-thumb &__vote-value {

  }

  &__admin {
    input, textarea, button {
      width: 100%;
    }
  }
}