$colors: (
  malibu: #8dd6f9,
  denim: #175d96,
  fiord: #465e69,
  elephant: #2b3a42,
  white: #ffffff,
  concrete: #f2f2f2,
  alto: #dedede,
  dusty-grey: #777676,
  dove-grey: #666666,
  emperor: #535353,
  mine-shaft: #333333,
);

$screens: (
  xlarge: 1525px,
  large: 1024px,
  medium: 768px,
);

$font-stack-body: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Helvetica, Arial, sans-serif;
$font-stack-heading: 'Source Serif Pro', ui-serif, Georgia, Cambria,
  'Times New Roman', Times, serif;
$font-stack-code: 'Source Code Pro', Consolas, 'Liberation Mono', Menlo, Courier,
  monospace;

$text-color-highlight: lighten(map-get($colors, denim), 5%);
