@import 'functions';

.starter-kits {
  flex: 1 1 auto;
  padding: 1.5em;
}

.starter-kits__tag {
  display: inline-block;
  font-size: getFontSize(-1);
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0.25em 0.25em;
  padding: 0 0.5em;
  border-radius: 0.25em;
  color: getColor(white);
  background: getColor(malibu);
}
