@reference "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&family=Source+Serif+Pro:wght@600&display=swap");
@import "./theme.css";

* {
  box-sizing: inherit;
}

html {
  @apply box-border;
}

html[dir="rtl"] {
  direction: rtl;
}

body {
  font:
    400 1rem "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;
  @apply text-blue-800;
}

html[dir="rtl"] body {
  text-align: right;
}

.dark body {
  @apply bg-dark-bg text-dark-text;
}

html[dir="rtl"] pre,
html[dir="rtl"] code,
html[dir="rtl"] kbd,
html[dir="rtl"] samp {
  direction: ltr;
  text-align: left;
  unicode-bidi: isolate;
}

html[dir="rtl"] .language-diff {
  direction: ltr;
}

html[dir="rtl"] .navigation__brand {
  margin-right: 0;
}

@media (min-width: 768px) {
  html[dir="rtl"] .navigation__brand {
    margin-left: auto;
  }
}

html[dir="rtl"] .navigation__controls {
  margin-left: 0;
  margin-right: 18px;
}

html[dir="rtl"] .sidebar-mobile {
  left: auto;
  right: 0;
}

html[dir="rtl"] .sidebar-mobile:not(.sidebar-mobile--visible) {
  transform: translate3d(calc(100% - 5px), 0, 0) !important;
}

html[dir="rtl"] .sidebar-mobile > div:first-of-type {
  left: auto;
  right: 285px;
}

html[dir="rtl"] .sidebar-mobile__close {
  left: 22px;
  right: auto;
}

html[dir="rtl"] [class~="group/item"] > button svg,
html[dir="rtl"] [class~="group/item"] > svg {
  margin-left: 0.5rem;
  margin-right: 0;
}

html[dir="rtl"] [class~="group/item"] ul {
  padding-left: 0;
  padding-right: 1.5rem;
}

html[dir="rtl"] [class~="group/item"] ul::before {
  border-left: 0;
  border-right: 1px dashed #777676;
  left: auto;
  right: 1.5rem;
}

html[dir="rtl"] [class~="group/item"] li {
  padding-left: 0;
  padding-right: 1rem;
}

html[dir="rtl"] [class~="group/item"] li::before {
  left: auto;
  right: 0;
}

html[dir="rtl"] [role="progressbar"] > div {
  transform-origin: right;
}

.splash-viz__art,
.splash-viz__art svg {
  direction: ltr;
}

.sponsors-panel {
  direction: ltr;
}

html[dir="rtl"] .sponsors-panel {
  left: calc(50% + 512px + 10px);
  margin-left: 0;
  margin-right: 0;
  right: auto;
}

html[dir="rtl"] .sponsors-panel > div {
  display: none;
}

@media (min-width: 1544px) {
  html[dir="rtl"] .sponsors-panel > div {
    display: flex;
  }
}

.header-link {
  @apply inline-block w-[22px] h-[22px] bg-no-repeat bg-center bg-contain;
  background-image: url("../assets/link.svg");
}

[aria-hidden="true"]:hover .header-link {
  @apply visible;
}

@layer base {
  a,
  button.as-link {
    @apply text-brand-link no-underline;
    @apply transition-colors duration-[250ms];

    &.icon-link {
      @apply inline-block text-[0.7em] -rotate-45 text-[#909090];
      margin-inline-start: 16px;

      &:hover {
        @apply text-brand-link;
      }
    }

    &:hover {
      @apply text-brand-link-hover;
    }
  }

  ::selection {
    @apply bg-[rgba(141,214,249,0.35)];
  }

  .language-diff {
    .token.prefix.inserted,
    .token.prefix.deleted {
      user-select: none;
    }
  }
}

.screen-reader-only {
  @apply sr-only;
}
