@import 'vars';
@import 'functions';
@import 'mixins';

@import './reset';

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-system-body;
  font-weight: 400;
  color: getColor(elephant);

  // styles to decrease font glitch
  font-size: 15.5px;
  letter-spacing: -0.01em;

  .source-sans-ready & {
    font-size: getFontSize(0);
    font-family: $font-stack-body;
    letter-spacing: 0;
  }
}

a {
  color: $text-color-highlight;
  text-decoration: none;
  transition: color 250ms;

  &.icon-link {
    display: inline-block;
    font-size: 0.7em;
    margin-left: 16px;
    transform: rotate(-45deg);
    color:lighten(getColor(dusty-grey), 10%);

    &:hover {
      color: $text-color-highlight;
    }
  }

  &:hover {
    color: darken(getColor(denim), 5%);
  }
}

::selection {
  background: transparentize(getColor(malibu), 0.65);
}
