@import 'vars';
@import 'mixins';
@import 'functions';

.page {
  flex: 1 0 auto;

  display: flex;

  position: relative;
}

.page__content {
  overflow-x: hidden;
  width: 100%;
  padding: 0.5em;

  @media (min-width: map-get($screens, medium)) {
    flex: 3;

    padding: 1.5em;
    background: map-get($colors, white);
  }
}

.page__edit {
  display: none;

  @include break {
    position: absolute;
    display: block;
    top: 1.5em;
    right: calc(40px + 1.5em);
    font-size: getFontSize(-1);
    text-transform: uppercase;
    color: map-get($colors, lynch);
  }

  &:hover {
    color: map-get($colors, chatham);
  }
}
