@import 'vars';
@import 'mixins';
@import 'functions';

.page {
  position: relative;
  flex: 1 0 auto;
  display: flex;
}

// XXX: Temporary hack to fix sidebar width
.page > div:first-of-type {
  display: none;
  position: relative;
  overflow: hidden;

  @include break {
    display: block;
    flex: 0 0 280px;
  }
}

.page__content {
  flex: 1 1 auto;
  overflow-x: hidden;
  padding: 1.5em 1em;

  @media break {
    flex: 3;
    padding: 1.5em;
  }
}

.page__edit {
  display: none;

  @include break {
    position: absolute;
    display: block;
    top: 1.5em;
    right: 1.5em;
    font-size: getFontSize(-1);
    text-transform: uppercase;

    i { font-size:0.8em; }
  }
}
