$colors: (
  malibu: #8DD6F9,
  denim: #1D78C1,
  calico: #dfc08b,
  tussock: #c0903f,
  white: #ffffff,
  concrete: #f2f2f2,
  alto: #dedede,
  dusty-grey: #999999,
  dove-grey: #666666,
  emperor: #535353,
  mine-shaft: #333333
);

$screens: (
  large: 1024px,
  medium: 768px
);
