@import 'vars';
@import 'functions';

.splash {
  &__sponsorheadline {
    //font-style:italic;
  }

  &__sponsor { 
    padding-top: 1.5em;
    text-align: center;
  }

  &__section {
    background:map-get($colors, concrete);
  }

  &__content { 
    padding:1.5em; 
  }
}
