@import 'vars';

.splash {
  &__viz {
    position:relative;
    display:flex;
    height:100vh;
    min-height:600px;
    max-height:900px;
  }

  &__modules,
  &__output { 
    flex:0 0 43.25%; 
  }

  &__icon {
    display:flex;
    flex:1 1 auto;
    align-items:center;
    justify-content:center;
  }
    
  &__cube {
    margin-right:-1.75em;
  }

  &__modules {
    background-image:url(./modules.png);
    background-repeat:no-repeat;
    background-position:-20px center;
    background-size:90% auto;
  }

  &__output {
    background-image:url(./output.png);
    background-repeat:no-repeat;
    background-position:-10px 48%;
  }

  &__headline {
    position:absolute;
    display:block;
    width:100%;
    bottom:10%;
    left:0;
    text-align:center;
    font-size:ms(1);
    font-style:italic;
    color:map-get($colors, dove-grey);
  }

  &__section {
    background:map-get($colors, white);
  }

  &__content { 
    padding:1.5em; 
  }
}
