@import 'vars';
@import 'mixins';
@import 'functions';

.gitter {
  position: absolute;
  right: 1.5em;
  height: calc(100% - 1.5em);
}

.gitter__button {
  position: sticky;
  display: flex;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  top: calc(100% - 3em - 1.5em);
  border-radius: 100%;
  background: #59bcb7;
  cursor: pointer;
  will-change: transform;
  transition: background 250ms;

  &:hover {
    background: darken(#59bcb7, 10%);
  }
}

.gitter__icon {
  display: block;
  font-size: 1.25em;
  height: 1em;
  overflow: hidden;
  color: getColor(white);
}
