// Styling for the Navigation component

@import 'utilities/scss/partials/colors';
@import 'utilities/scss/partials/screens';
@import 'utilities/scss/partials/functions';

.navigation {
    min-width:map-get($screens, desktop);
    background:map-get($colors, mine-shaft);
    transition:background 250ms;

    &-inner {
        padding:0.5em 1em;
        box-sizing:border-box;
    }

    &-logo {
        text-decoration:none;
    }

    &-nav {
        float:right;
        padding:0.25em 0;

        &-link {
            font-size:getFontSize(-2);
            margin-left:2.5em;
            text-transform:uppercase;
            text-decoration:none;
            color:map-get($colors, dusty-grey);
            transition:color 250ms;

            &:hover,
            &.-active { color:map-get($colors, white); }
        }
    }

    &.-light {
        background: transparent;

        .navigation-nav-link:hover { color:map-get($colors, mine-shaft); }
    }
}
