@import 'functions';

.algolia-autocomplete {
  display: flex !important;

  .ds-dropdown-menu {
    box-shadow: none;

    &:before {
      content: none;
    }

    [class^=ds-dataset-] {
      border-color: getColor(alto);
      border-radius: 3px;
    }
  }

  .algolia-docsearch-suggestion--category-header {
    border-color:getColor(alto);
  }

  .algolia-docsearch-suggestion--highlight {
    color:getColor(denim);
    background:rgba(getColor(malibu), 0.2);
  }

  .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
    background:rgba(getColor(dusty-grey), 0.15) !important;
  }

  .algolia-docsearch-suggestion--subcategory-column {
    color:getColor(dove-grey);
  }

  .algolia-docsearch-suggestion--category-header {
    color:getColor(mine-shaft);
  }

  .algolia-docsearch-suggestion--title {
    color:getColor(mine-shaft);
  }
}
