@import 'vars';

.algolia-autocomplete {
  display: flex !important;

  .ds-dropdown-menu {
    box-shadow: none;

    &:before {
      content: none;
    }

    [class^=ds-dataset-] {
      border-color: map-get($colors, alto);
      border-radius: 3px;
    }
  }

  .algolia-docsearch-suggestion--category-header {
    border-color:map-get($colors, alto);
  }

  .algolia-docsearch-suggestion--highlight {
    color:map-get($colors, denim);
    background:rgba(map-get($colors, malibu), 0.2);
  }

  .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
    background:rgba(map-get($colors, dusty-grey), 0.15) !important;
  }

  .algolia-docsearch-suggestion--subcategory-column {
    color:map-get($colors, dove-grey);
  }

  .algolia-docsearch-suggestion--category-header {
    color:map-get($colors, mine-shaft);
  }

  .algolia-docsearch-suggestion--title {
    color:map-get($colors, mine-shaft);
  }
}
