.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  &.nav-displayed {
    height: 100vh;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
  }

  .sidebar {
    flex: 0 0 280px;
  }
}
