.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  overflow: -moz-scrollbars-none;

  &.nav-displayed {
    height: 100vh;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
