blockquote {
  background: black;
  color: white;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid rgba(0,0,0,0.03);
  font-family: sans-serif;
  font-style: inherit;
  font-size: 80%;
  border-radius: 7px;

  code { 
    color: black;
  }

  p { margin: 0; }

  &.tip,
  &.warning,
  &.todo {
    color: #696969;
    font-size: medium;
    padding: 1em;
    margin-bottom: 1em;

    .tip-icon {
      margin-right:0.5em;
    }
  }

  &.tip {
    background-color: #F5FFFB;
  }

  &.warning {
    background-color: #FFFFFA;
  }

  &.todo {
    background-color: #FFF5FB;
  }
}
