.footer {
  min-width:map-get($screens, desktop);
  background: map-get($colors, alto);

  &-inner {
    display:flex;
    padding:0.3em 1em;
    box-sizing:border-box;

    &-left,
    &-right { 
      flex:1 1 auto; 
      padding:0.45em 0;
    }

    &-middle { 
      flex:0 0 auto; 

      .webpack-icon { margin-top:2px; }
    }

    &-right { 
      text-align:right; 
    }

    &-link {
      font-size:getFontSize(-2);
      margin-right:2em;
      text-decoration:none;
      text-transform:uppercase;
      color:map-get($colors, dusty-grey);
      transition:color 250ms;

      &:last-child { margin-right:0; }
      &:hover { color:map-get($colors, mine-shaft); }
    }
  }
}
