.footer {
  min-width:map-get($screens, large);
  background: map-get($colors, alto);

  &__inner {
    display:flex;
    box-sizing:border-box;
  }

  &__left,
  &__right {
    flex:1 1 auto;
    line-height: 30px;
  }

  &__middle {
    flex:0 0 auto;
  }

  &__right {
    text-align:right;
  }

  &__link {
    font-size:getFontSize(-2);
    margin-right:2em;
    text-decoration:none;
    text-transform:uppercase;
    color:map-get($colors, dusty-grey);
    transition:color 250ms;

    &:last-child { margin-right:0; }
    &:hover { color:map-get($colors, mine-shaft); }
  }
}
