.footer {
  min-width:map-get($screens, large);
  background: map-get($colors, alto);

  &__inner {
    display:flex;
    padding:0.3em 1.5em;
    box-sizing:border-box;
  }

  &__left,
  &__right { 
    flex:1 1 auto; 
    padding:0.4em 0 0.5em;
  }

  &__middle { 
    flex:0 0 auto;

    .cube { margin-top:5px; }
  }

  &__right { 
    text-align:right; 
  }

  &__link {
    font-size:getFontSize(-2);
    margin-right:2em;
    text-decoration:none;
    text-transform:uppercase;
    color:map-get($colors, dusty-grey);
    transition:color 250ms;

    &:last-child { margin-right:0; }
    &:hover { color:map-get($colors, mine-shaft); }
  }
}
