.footer {
  //width: 100%;
  //max-width: map-get($screens, large);
  //margin: auto;
  flex: 0 0 auto;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  padding: 0.3em 1.5em;
  background: map-get($colors, alto);

  @include break {
    flex-direction: initial;
  }
}

.footer__left,
.footer__right {
  flex: 0 0 auto;

  display: flex;
  margin: auto;

  @include break {
    margin: 0;
  }
}

.footer__middle {
  display: none;

  @include break {
    flex: 0 0 auto;

    display: block;

    .cube {
      margin-top: 5px;
    }
  }
}

.footer__link {
  transition: color 250ms;

  padding: 1em;
  font-size: getFontSize(-2);
  text-decoration: none;
  text-transform: uppercase;
  color: map-get($colors, dusty-grey);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: map-get($colors, mine-shaft);
  }
}
