.navigation {
  min-width:map-get($screens, desktop);
  background:map-get($colors, mine-shaft);
  transition:background 250ms;

  &-inner {
    padding:0.5em 1em;
    box-sizing:border-box;
  }

  &-logo {
    text-decoration:none;
  }

  &-nav {
    float:right;
    padding:0.5em 0;
    margin-right:3em;

    &-link {
      font-size:getFontSize(-2);
      margin-left:2.5em;
      text-transform:uppercase;
      color:map-get($colors, alto);

      &:hover,
      &.-active { 
        color:map-get($colors, white); 
      }
    }
  }

  &.-splash { 
    position:absolute; 
    width:100%;
    top:0;
    z-index:5;
    background: transparent;

    .navigation-nav-link {
      color:map-get($colors, dusty-grey);

      &:hover { color:map-get($colors, mine-shaft); }
    }
  }
}
