.navigation {
  background:map-get($colors, mine-shaft);
  transition:background 250ms;

  &__inner {
    display:flex;
  }

  &__logo {
    flex:0 0 auto;
  }

  &__links {
    flex:1 1 auto;
    text-align:right;
  }

  &__link {
    text-transform:uppercase;
    text-decoration:none;
    color:map-get($colors, alto);

    &:hover {
      color:map-get($colors, white);
    }
  }
}
