@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

.sidecar {
  position: fixed;
  top:75px;
  right:0;

  &-item {
    position: relative;
    display: block;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    background:#333;
    color:#fff;
    opacity:0.9;
    transition:all 250ms;

    &.-github { }
    &.-gitter { background:#ed1965; }
    &.-medium { background:#19aa6e; }

    &:hover { 
      opacity:1;
      color:#fff;
    }
  }  
}
