.sidebar {
  position: relative;
  flex: 1;

// Disabled as interactive generates a div parent (need to attach the code somewhere)
// This needs a better fix (no way to eliminate the div)
/*
  @include break {
    max-width: 25%;
    background: transparentize(map-get($colors, white), 0.5);
  }
*/
}

.sidebar__inner {
  will-change: transform;
  transform: translate3D(-100%, 0, 0);
  transition: transform 0.5s;

  position: absolute;
  width: 300px;
  height: 100%;
  max-height: calc(100vh - 45px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5em;
  background: map-get($colors, emperor);
  color: map-get($colors, dusty-grey);
  z-index: 1;

  @include break {
    position: static;
    transform: none;
    width: 100%;
    background: transparent;
    color: map-get($colors, emperor);
  }

  .nav-displayed & {
    transform: translateX(0);

    @include break {
      transform: none;
    }
  }
}

.sidebar-item {
  font-size: getFontSize(-1);
  margin-bottom: 0.5em;

  &__title {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: map-get($colors, tussock);
    }
  }

  &__toggle {
    float: right;
    line-height: 1.5;
    cursor: pointer;
    color: map-get($colors, dusty-grey);
    transition: color 250ms;

    &:hover {
      color: map-get($colors, mine-shaft);
    }
  }

  &__anchors {
    display:none;
    list-style: none;
    padding: 0;
    margin: 0.25em 0 1em;
  }

  &__anchor {
    margin: 0;

    a {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: map-get($colors, dusty-grey);

      &:hover {
        color: map-get($colors, mine-shaft);
      }
    }
  }

  &--empty {
    .sidebar-item__toggle {
      display:none;
    }
  }

  &--open {
    .sidebar-item__anchors {
      display:block;
    }
  }
}
