.sidebar {
  background:transparentize(map-get($colors, white), 0.5);
}

.sidebar-item {
  &__title {
    text-decoration:none;
    color:map-get($colors, emperor);

    &:hover { color:map-get($colors, tussock); }
  }

  &__toggle {
    display:none; // Temporary
    float:right;
    cursor:pointer;
    color:map-get($colors, dusty-grey);
    transition:color 250ms;

    &:hover { color:map-get($colors, mine-shaft); }
  }

  &__sections {
    display:none; // Temporary
    list-style:none;
    padding:0;
  }

  &__section { 
    margin:0;

    a {
      display:inline-block;
      max-width:100%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      color:map-get($colors, dusty-grey);

      &:hover { color:map-get($colors, mine-shaft); }
    }
  }
}
