.notifyBox {
  position: fixed;
  z-index: 1000;
  border: 1px solid #dedede;
  background-color: #fff;
  box-shadow: 1px 1px 2px 1px #465E69;
  border-radius: 3px;
  bottom: max(10px, calc(env(safe-area-inset-bottom) + 10px));
  right: 10px;
  color: #333333;
  &__container {
    display: flex;
    align-items: center;
  }
  button {
    margin-left: 5px;
    background: #1d78c1;
    border: 1px solid #1d78c1;
    color: #fff;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      background: #535353;
    }
  }
}
