@import 'mixins';
@import 'functions';

.page-links {
  position: absolute;
  display: none;
  top: 0.5em;
  right: 1.5em;
  font-weight: 600;
  text-transform: uppercase;

  button {
    padding: 0;
    background: none;
    border: none;
    font-family: $font-stack-body;
    font-weight: 600;
  }

  @media print {
    display: none;
  }

  @include break {
    display: block;
  }

  &__gap {
    margin: 0 1em;
  }

  &__link {
    font-size: getFontSize(-1);
    display: inline-flex;
  }

  &__icon {
    align-self: center;
    font-size: 0.9em;
    margin-left: 0.5em;
  }

  &__print {
    cursor: pointer;

    img {
      height: 17px;
      margin-left: 3px;
    }
  }
}
