// Styling for the SplashIntro component

@import 'utilities/scss/partials/colors';
@import 'utilities/scss/partials/functions';

.splash-intro {
    h1 { 
        color:map-get($colors, mine-shaft);
        font-size:getFontSize(3);
        font-weight:600;
        margin-bottom:0.75em;
    }

    p {
        margin-bottom:1em;
        line-height:1.2;
    }

    a {
        color:map-get($colors, tussock);
        text-decoration:none;
        transition:color 250ms;

        &:hover { color:map-get($colors, calico); }
    }

    code {
        font-size:getFontSize(-1);
        font-family:'Ubuntu Mono';
        padding:1em;
        border-radius:0.25em;
    }
}