@import 'vars';
@import 'mixins';
@import 'functions';

.footer {
  width: 100%;
  flex: 0 0 auto;
  background: map-get($colors, alto);
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.35em;

  @include break {
    flex-direction: initial;
  }
}

.footer__left,
.footer__right {
  flex: 0 0 auto;
  display: flex;
  margin: auto;

  @include break {
    margin: 0;
  }
}

.footer__left {
  @include break {
    padding-left:1.5em;
  }
}

.footer__right {
  @include break {
    padding-right:1.5em;
  }
}

.footer__middle {
  display: none;

  @include break {
    flex: 0 0 auto;
    display: block;

    .cube {
      margin-top: 5px;
    }
  }
}

.footer__link {
  padding: 1em 0;
  font-size: getFontSize(-2);
  text-decoration: none;
  text-transform: uppercase;
  color: map-get($colors, dusty-grey);
  transition: color 250ms;

  &:not(:last-child) {
    margin-right: 1.5em;
  }

  &:hover {
    color: map-get($colors, mine-shaft);
  }
}
