@import 'vars';

.logo {
  position:relative;
  display:inline-block;

  &__text {
    font-size:1.3em;
    font-family:'Geomanist', 'Century Gothic', sans-serif;
    font-weight:500;
    letter-spacing:1px;
    margin-left:1.75em;
    line-height:1.4;
    transition:color 250ms;
  }

  &__cube {
    position:absolute;
  }

  &--dark {
    .logo__text { 
      color:map-get($colors, dove-grey); 
    }

    &:hover .logo__text {
      color:map-get($colors, mine-shaft);
    }
  }

  &--light {
    .logo__text { 
      color:map-get($colors, alto); 
    }

    &:hover .logo__text {
      color:map-get($colors, white);
    }
  }
}
