@import 'vars';
@import 'mixins';
@import 'functions';

.sidebar {
  display: none;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  will-change: transform;

  @include break {
    display: block;
  }
}

.sidebar__inner {
  padding: 1.5em;
  overflow: hidden;
}

.sidebar__group {
  margin-top: 1em;
  margin-left: 0.15em;
  font-weight: 600;
  text-transform: uppercase;
  color: getColor(dusty-grey);
}
