@import 'mixins';
@import 'functions';

.page {
  flex: 1 1 auto;
  position: relative;
  overflow-x: hidden;
  padding: 1.5em 1em;

  @include break {
    flex: 3;
    // page links not fitting in 768+ resolutions with long headings
    padding: 2em 1.5em 1.5em;
  }

  .related__section {
    @media print {
      display: none;
    }
  }
}
