@import 'vars';

.cube {
  position:relative;
  display:block;
  transform-style:preserve-3d;
  transform:rotateX(-33.5deg) rotateY(45deg);

  &__inner,
  &__outer {
    display:inline-block;
    transform-style:preserve-3d;
    transition:transform 1000ms;
  }

  &__inner {
    position:absolute;
    top:-2px;
    left:0;
  }

  &__face {
    position:absolute;
    width:100%;
    height:100%;
    border: 3px solid map-get($colors, white);
  }

  .cube__outer .cube__face {
    background:transparentize(map-get($colors, malibu), 0.5);
  }

  .cube__inner .cube__face {
    background:map-get($colors, denim);
  }
}
