@import 'vars';

.splash-modules {
  width:100%;
  height:100%;

  &__node {
    cursor:pointer;

    image {
      opacity:0.75;
    }

    text {
      opacity:0;
      font-size:0.8em;
      fill:grey;
      text-anchor:middle;
    }

    image,
    text {
      transition:opacity 250ms;
    }

    &:hover {
      image,
      text { opacity:1; }
    }
  }
}