
.dropdown {
	position: relative;
	color: #fff;
	cursor: pointer;

}

.dropdown-language {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.dropdown-arrow {
	vertical-align: middle;
	
	&:before {
		display: inline-block;
		margin-left: 5px;
		content: "\25be";
	}
}

.dropdown-list {
	display: none;
	position: absolute;
	width: 100%;
	top: 45px;
	left: -13px;
	right: 0;
	margin: auto;
	background-color: #2B3A42;
	z-index: 1;
	text-align: center;

	ul li {
		list-style: none;
		color: #fff;

		a:link, a:visited, a:hover {
			color: #fff;
		}

		img {
			width: 20px;
			height: 20px;
			// margin: 2px 0;
		}
	}
}

.dropdown-list-show {
	display: inline-block;
}