.page__content,
.splash__content {
  hr {
    border:none;
    background-color:map-get($colors, alto);
    height:3px;
    margin:2em 0;
  }

  blockquote {
    /*border-left: 4px solid #dddddd;*/
    /*padding:0.75em 1em;*/
    color:map-get($colors, dove-grey);

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }

    &.tip,
    &.warning,
    &.todo {
      border-left:none;
      border-radius: 3px;
      color:map-get($colors, mine-shaft);

      .tip-icon {
        margin-right:0.5em;
      }

      .tip-title {
        font-size:0.8em;
        font-weight:700;
        margin-bottom:0.5em;
        text-transform:uppercase;
      }

      code {
        background-color:transparentize(map-get($colors, alto), 0.5);
      }
    }

    &.tip { background-color:transparentize(#1abc9c, 0.8); }
    &.warning { background-color:transparentize(#f1c40f, 0.8); }
    &.todo { background-color:transparentize(#e74c3c, 0.8); }
  }

  table {
    padding: 0;

    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;

      &:nth-child(2n) { background-color: #f8f8f8; }

      th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      th, td {
        > :first-child { margin-top: 0; }
        > :last-child { margin-bottom: 0; }
      }
    }
  }

  code, tt {
    /*border: 1px solid #eaeaea;*/
    /*background-color: #f8f8f8;*/
    border-radius: 3px;
  }

  pre {
    /*background-color:map-get($colors, mine-shaft);*/
    overflow: auto;
    border-radius: 3px;

    code {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      /*color:map-get($colors, concrete);*/
      background: transparent;

      .code-details-summary-span {
        margin-left: -15px;
        cursor: pointer;
      }
    }

    code, tt {
      /*background-color: transparent;*/
      border: none;
    }
  }
}
