$colors: (
    regent: #8a929d,
    lynch: #617693,
    chambray: #31517e,
    chatham: #12396e,
    parchment: #efe3d0,
    calico: #dfc08b,
    tussock: #c0903f,
    white: #ffffff,
    concrete: #f2f2f2,
    alto: #dedede,
    dusty-grey: #999999,
    dove-grey: #666666,
    mine-shaft: #333333
);

$screens: (
    desktop: 1280px,
    laptop: 960px,
    tablet: 720px
);
