@import "reset";
@import "functions";
@import "vars";
@import "styles";

@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,400italic);

body {
    font:300 16px/1 'Open Sans', 'Century Gothic', sans-serif;
}

.section-index__wrapper, .section-page__wrapper {
  padding : 2em;
  max-width: 800px;
  margin: 0 auto;
}

.previous-page, .next-page {
  top: calc(50%);
  position: fixed;
}
.previous-page {
  left: 1em;
}
.next-page {
  right: 1em;
}
