@import "reset";
@import "functions";
@import "vars";
@import "styles";

@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,400italic);

body {
  font:300 16px/1 'Open Sans', 'Century Gothic', sans-serif;
  background:map-get($colors, concrete);
}

ol, ul, p, pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

.header-anchor-select {
  display: none;
  margin-left: 0.25em;
}

.header:active .header-anchor-select,
.header:hover .header-anchor-select {
  display: inline;
}

.section-page {
  padding: 1em;
}

.previous-page, .next-page {
  top: calc(50%);
  position: fixed;
}

.previous-page { left: 1em; }
.next-page { right: 1em; }
