@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,400i,600,600i);

@font-face {
  font-family: 'Geomanist';
  src: url('../assets/geomanist-medium.woff2') format('woff2'),
       url('../assets/geomanist-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../assets/geomanist-regular.woff2') format('woff2'),
       url('../assets/geomanist-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}