/**
 * Styling
 *
 * This file contains the main styling for the site.
 * Markdown styling is based on https://gist.github.com/tuzz/3331384.
 * Component stylesheets are imported last so as to override anything specified here.
 *
 */

@import "functions";
@import "vars";

body {
  color:map-get($colors, emperor);
  /*background:map-get($colors, concrete);*/
}

a {
  color:map-get($colors, tussock);
  transition:color 250ms;

  &:hover {
    color:darken(map-get($colors, tussock), 15%);
  }

  &.icon-link {
    display:inline-block;
    font-size:0.7em;
    margin-left:0.5em;
    transform:rotate(-135deg);
  }
}

@import "markdown";
/*@import "~prismjs/themes/prism-funky";*/
@import "styles";
