// Styling for the Banner component

@import 'utilities/scss/partials/colors';
@import 'utilities/scss/partials/screens';
@import 'utilities/scss/partials/functions';

.banner {
    min-width:map-get($screens, desktop);
    background:map-get($colors, mine-shaft);
    user-select:none;
    transition:background 250ms;

    &-inner {
        padding:0.5em 1em;
        box-sizing:border-box;
    }

    &-logo {
        text-decoration:none;
    }

    &-nav {
        float:right;
        padding:0.25em 0;

        &-link {
            font-size:getFontSize(-2);
            margin-left:2.5em;
            text-transform:uppercase;
            text-decoration:none;
            color:map-get($colors, dusty-grey);
            transition:color 250ms;

            &:hover,
            &.-active { color:map-get($colors, white); }
        }
    }

    &.-absolute { 
        position:absolute; 
        width:100%;
        top:0;
        z-index:5;
    }

    &.-light { 
        background: transparent; 

        .banner-nav-link:hover { color:map-get($colors, mine-shaft); }
    }
}