name: Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
jobs:
  deploy:
    name: Deploy Site
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [lts/*]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Enable webpack persistent caching
        uses: ./.github/actions/webpack-persistent-cache

      - run: yarn --frozen-lockfile
      - name: Build site
        run: yarn build
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          OPENCOLLECTIVE_API_KEY: ${{secrets.OPENCOLLECTIVE_API_KEY}}
      - run: yarn lint:links

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          folder: dist
          clean: true
