name: Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
jobs:
  deploy:
    name: Deploy Site
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [lts/*]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Enable webpack persistent caching
        uses: ./.github/actions/webpack-persistent-cache

      - run: yarn --frozen-lockfile
      - name: Build site
        run: yarn build
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          OPENCOLLECTIVE_API_KEY: ${{secrets.OPENCOLLECTIVE_API_KEY}}
      - run: yarn lint:links

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          folder: dist
          clean: true
