@import 'functions';
@import 'mixins';

$sponsor-text-color-dark: #cecece;
$sponsor-text-color-light: #535353;
$background-color-hover: rgb(50, 50, 50);
$link-wrapper-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
$link-wrapper-shadow-dark: 0 3px 10px 0px rgba(255, 255, 255, 0.2);
$link-wrapper-radius: 8px;
$link-wrapper-margin: 8px;
$tagline-font-size: 2em;
$footer-font-size: 1.7em;
$tagline-font-size-mobile: 1.4em;
$footer-font-size-mobile: 1.2em;

[data-theme='dark'] {
  .agGridLogo {
    content: url('../../assets/ag-grid-logo-dark.png');
  }

  .agChartsLogo {
    content: url('../../assets/ag-charts-logo-dark.png');
  }

  .sponsors {
    &__tagline,
    &__footer {
      margin: 1rem 0;
      text-align: center;
      color: $sponsor-text-color-dark;
    }
    &__tagline {
      font-size: $tagline-font-size;
    }
    &__footer {
      font-size: $footer-font-size;
      font-style: italic;
    }
    &__link-wrapper {
      background: rgb(12, 12, 12);
      box-shadow: $link-wrapper-shadow-dark;
      border-radius: $link-wrapper-radius;
      margin: $link-wrapper-margin;
      transition: transform 0.2s;
      &:hover {
        background-color: $background-color-hover;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 642px) {
  .agGridLogo {
    height: 50px;
  }

  .agChartsLogo {
    height: 50px;
  }

  .sponsors {
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: -275px;

    &__link-wrapper {
      box-shadow: $link-wrapper-shadow;
      border-radius: $link-wrapper-radius;
      margin: $link-wrapper-margin;
      transition: transform 0.2s;
      &:hover {
        background-color: getColor(concrete);
        transform: scale(1.05);
      }
    }
    &__tagline,
    &__footer {
      margin: 1rem 0;
      text-align: center;
      color: $sponsor-text-color-light;
    }
    &__tagline {
      font-size: $tagline-font-size-mobile;
    }
    &__footer {
      font-size: $footer-font-size-mobile;
      font-style: italic;
    }
    &__content {
      position: sticky;
      display: flex;
      margin: 1.5em 0;
      top: 6em;
      padding-bottom: 16px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      transition: background-color 250ms;
    }
    &__img {
      &__wrapper {
        display: none;
      }
    }
  }
}

@media (min-width: 642px) and (max-width: 1524px) {
  .agGridLogo {
    height: 50px;
  }

  .agChartsLogo {
    height: 50px;
  }

  .sponsors {
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: -240px;

    &__buttons__wrapper {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    &__link-wrapper {
      box-shadow: $link-wrapper-shadow;
      border-radius: $link-wrapper-radius;
      margin: $link-wrapper-margin;
      transition: transform 0.2s;
      &:hover {
        background-color: getColor(concrete);
        transform: scale(1.05);
      }
    }
    &__tagline,
    &__footer {
      margin: 1rem 0;
      text-align: center;
      color: $sponsor-text-color-light;
    }
    &__tagline {
      font-size: $tagline-font-size-mobile;
    }
    &__footer {
      font-size: $footer-font-size-mobile;
      font-style: italic;
    }
    &__content {
      position: sticky;
      display: flex;
      flex-direction: column;
      margin: 1.5em 0;
      top: 6em;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid getColor(concrete);
      overflow: hidden;
      transition: background-color 250ms;
      padding-bottom: 32px;
    }
    &__img {
      background: red !important;
      &__wrapper {
        display: none;
      }
    }
  }
}

@media (min-width: 1525px) {
  .agGridLogo {
    max-width: 220px;
    height: auto;
  }

  .agChartsLogo {
    max-width: 220px;
    height: auto;
  }

  .sponsors {
    position: absolute;
    height: 100%;
    width: 250px;
    margin-left: -250px;
    margin-right: 8px;

    &__link-wrapper {
      box-shadow: $link-wrapper-shadow;
      border-radius: $link-wrapper-radius;
      margin: $link-wrapper-margin;
      transition: transform 0.2s;
      &:hover {
        background-color: getColor(concrete);
        transform: scale(1.05);
      }
    }
    &__tagline,
    &__footer {
      margin: 1rem 0;
      text-align: center;
      color: $sponsor-text-color-light;
    }
    &__tagline {
      font-size: $tagline-font-size;
    }
    &__footer {
      font-size: $footer-font-size;
      font-style: italic;
    }
    &__content {
      position: sticky;
      display: flex;
      margin: 1.5em 0;
      top: 6em;
      padding: 0 1.5em 3em;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      border-right: 2px solid getColor(concrete);
      overflow: hidden;
      transition: background-color 250ms;
    }
    &__img {
      &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
